<input type="file" (change)="upload($event.target.files)" />

<ng-container *ngIf="uploadSuccess && allSeries.length !== 0">
    <div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let series of allSeries">
                <input type="radio" [(ngModel)]="selectedSeries" name="list_name" value="{{series}}"
            (change)="setLineChartData(series)" />
            {{series}}
            </li>
        </ul>
    </div>
</ng-container>

<div id="chart-container">
    <ng-container *ngIf="uploadSuccess">
        <canvas #myCanvas id="canvas" baseChart [chartType]="chartType" [datasets]="chartData" [labels]="chartLabels"
        [colors]="chartColors" [options]="chartOptions"></canvas>
    </ng-container>
    <ng-container *ngIf="!uploadSuccess">
        <div class="messagecontainer">
            Please upload the csv file for line Chart.
        </div>
    </ng-container>
</div>

<router-outlet></router-outlet>
